.App {
  height: 100vh;
  background-color: #f8f4f0;

  overflow: auto;

  @media (max-width: 1000px) {
    min-height: 100%;
  }

  &__main {
    height: 100%;
    margin-left: 280px;
    padding: 30px;

    overflow-y: auto;

    @media (max-width: 1000px) {
      height: auto;
      margin-left: 0;
      padding: 30px;
    }
  }
}